<div class="listbox-example">
  <div class="listbox-container">
    <ul
      listbox
      #listbox="listbox"
      [wrap]="wrap"
      [vertical]="vertical"
      [rovingFocus]="rovingFocus"
      [selectionMode]="selectionMode()"
      [skipDisabled]="skipDisabled"
      [currentIndex]="currentIndex"
      [multiselection]="multiselection"
      [selectedIndices]="selectedIndices"
      [typeaheadDelay]="typeaheadDelay"
      [typeaheadMatcher]="typeaheadMatcher"
    >
      @for(state of states; track state) {
      <li option [searchTerm]="state">
        <span>{{ state }}</span>
        <span class="checkmark">✓</span>
      </li>
      }
    </ul>
    @if (listbox.state.typeaheadState.query()) {
    <span class="typeahead">{{
      listbox.state.typeaheadState.query() | titlecase
    }}</span>
    }
  </div>

  <div class="hud">
    <div>
      <span>Typeahead: {{ listbox.state.typeaheadState.query() }}</span>
    </div>
    <div>
      <label for="wrap-input">Wrap: </label>
      <input id="wrap-input" type="checkbox" [(ngModel)]="wrap" />
    </div>

    <div>
      <label for="vertical-input">Vertical: </label>
      <input id="vertical-input" type="checkbox" [(ngModel)]="vertical" />
    </div>

    <div>
      <label for="roving-focus-input">Roving Tabindex: </label>
      <input
        id="roving-focus-input"
        type="checkbox"
        [(ngModel)]="rovingFocus"
      />
    </div>

    <div>
      <label for="follow-focus-input">Selection Mode: </label>
      <select id="follow-focus-input" [(ngModel)]="selectionModeStr">
        <option [value]="ListboxSelectionMode.Recommended">Recommended</option>
        <option [value]="ListboxSelectionMode.FollowFocus">Follow Focus</option>
        <option [value]="ListboxSelectionMode.Explicit">Explicit</option>
      </select>
    </div>

    <div>
      <label for="skip-disabled-input">Skip Disabled Options: </label>
      <input
        id="skip-disabled-input"
        type="checkbox"
        [(ngModel)]="skipDisabled"
      />
    </div>

    <div>
      <label for="multiselection-input">Multiple selection: </label>
      <input
        id="multiselection-input"
        type="checkbox"
        [(ngModel)]="multiselection"
      />
    </div>

    <div>
      <label for="current-index-input">Current Index: </label>
      <input
        id="current-index-input"
        type="number"
        min="0"
        [max]="states.length - 1"
        [(ngModel)]="currentIndex"
      />
    </div>

    <div>
      <label for="selected-indices-input">Selected Indices: </label>
      <select
        id="selected-indices-input"
        [(ngModel)]="selectedIndices"
        [multiple]="multiselection"
      >
        @for (state of states; track state) {
        <option [value]="$index">{{ state }}</option>
        }
      </select>
    </div>
  </div>
</div>

<div class="grid-example">
  <div class="table-example">
    <div class="scroll-container">
      <table [wrap]="true" [skipDisabled]="true" grid>
        <tr row>
          <td gridcell></td>
          <td [disabled]="true" gridcell></td>
          <td [disabled]="true" gridcell></td>
          <td gridcell></td>
        </tr>
        <tr row>
          <td [disabled]="true" gridcell></td>
          <td [rowspan]="2" [colspan]="2" gridcell></td>
          <td [disabled]="true" gridcell></td>
        </tr>
        <tr row>
          <td [disabled]="true" gridcell></td>
          <td [disabled]="true" gridcell></td>
        </tr>
        <tr row>
          <td gridcell></td>
          <td [disabled]="true" gridcell></td>
          <td [disabled]="true" gridcell></td>
          <td gridcell></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="table-example">
    <div class="scroll-container">
      <table [wrap]="true" [skipDisabled]="true" grid>
        <tr row>
          <td gridcell>
            <button widget>Click me!</button>
          </td>
          <td gridcell>
            <label>Check me: </label>
            <input type="checkbox" widget />
          </td>
          <td gridcell>
            <input widget [editable]="true" />
          </td>
          <td gridcell>Empty cell</td>
        </tr>
        <tr row>
          <td [colspan]="2" gridcell>
            <div class="multi-widget-wrapper">
              <div class="multi-widget-row">
                <div widget></div>
                <div widget></div>
                <div widget></div>
                <div widget></div>
                <div [disabled]="true" widget></div>
                <div [disabled]="true" widget></div>
              </div>
              <div class="multi-widget-row">
                <div [disabled]="true" widget></div>
                <div [disabled]="true" widget></div>
                <div widget></div>
                <div widget></div>
                <div [disabled]="true" widget></div>
                <div [disabled]="true" widget></div>
              </div>
            </div>
          </td>
          <td gridcell>Empty cell</td>
          <td gridcell>
            <input type="date" [editable]="true" widget />
          </td>
        </tr>
        <tr row>
          <td gridcell>
            <label>Radio button: </label>
            <input type="radio" name="radio button example" widget />
          </td>
          <td gridcell>Empty cell</td>
          <td gridcell>
            <select [usesArrowKeys]="true" widget>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
              <option value="5">Option 5</option>
              <option value="6">Option 6</option>
            </select>
          </td>
          <td gridcell>
            <a href="/" widget>Click me!</a>
          </td>
        </tr>
        <tr row>
          <td gridcell>Empty cell</td>
          <td gridcell>
            <p style="margin-top: 0">Radio group!</p>
            <form>
              <input type="radio" name="radio group 1" widget />
              <input type="radio" name="radio group 1" widget />
              <input type="radio" name="radio group 1" widget />
              <input type="radio" name="radio group 1" widget />
              <input type="radio" name="radio group 1" widget />
              <input type="radio" name="radio group 1" widget />
            </form>
          </td>
          <td gridcell>
            <input type="color" [editable]="true" widget />
          </td>
          <td gridcell>
            <input type="range" widget [usesArrowKeys]="true" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
